VLLM_EMBED_MODEL=
VLLM_EMBED_URL=
VLLM_EMBED_MODEL_REVISION=
EMBEDDING_CONCURRENCY=

VLLM_LLM_MODEL=
VLLM_LLM_URL=
LLM_CONCURRENCY=

CLASSIFICATION_GUIDELINE_WEIGHT=0.60
CLASSIFICATION_SIMILARITY_WEIGHT=0.30
CLASSIFICATION_MOTHERHOOD_WEIGHT=0.10
GUIDELINE_HIT_CAP=3
SIMILARITY_TOP_K=5
SIMILARITY_MINIMUM_SCORE=0.70
CLASSIFICATION_RELEVANCE_THRESHOLD=0.50
CLASSIFICATION_CONCURRENCY=10

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
